/* Desktop styles */
.aboutSection {
  display: flex;
  height: 650px;
  background-color: white;
}

.aboutImageContainer {
  position: relative;
  background-color: #9cbfbc;
  padding: 4rem 1rem;
  width: 500px;
  font-family: 'sinclair';
  font-weight: 500;
  font-size: 0.9rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aboutImage {
  margin-bottom: 60px;
  margin-left: 180px;
  margin-top: 35px;
  width: 330px;
  border: 10px solid white;
}

.aboutTextContainer {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
}

.aboutTitle {
  font-family: 'sinclair';
  color: #9cbfbc;
  font-size: 60px;
}

.aboutSubtitle {
  font-family: 'sinclair';
  font-size: 20px;
}

.aboutDescription {
  font-size: 20px;
  font-family: 'Cormorant';
}

/* Mobile styles */
@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    padding: 1rem;
    height: auto;
  }

  .aboutImageContainer {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .aboutImage {
    margin: 0 auto;
    width: 250px;
  }

  .aboutTextContainer {
    margin-left: 0;
    text-align: center;
  }

  .aboutTitle {
    font-size: 2rem;
  }

  .aboutSubtitle {
    font-size: 1rem;
  }

  .aboutDescription {
    font-size: 0.9rem;
  }
}
