.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .main {
    display: flex;
    max-width: 1200px;
    background-color: #fff;
    
    padding: 20px;
    border-radius: 10px;
  }
  
  .imageContainer {
    flex: 1;
    padding-right: 10px;
      }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
  
  .textContainer {
    flex: 2;
  }
  
  .heading {
    font-size: 2rem;
    color: #00c0b3;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .introSection h1 {
    font-size: 1.2rem;
    color: #007b7b;
    margin-bottom: 10px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .callToAction {
    font-size: 1.1rem;
    font-style: italic;
    color: #e07b39;
    margin-top: 20px;
  }
  